.nice-select {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: #fff;
  border-radius: 5px;
  border: solid 1px #e8e8e8;
  box-sizing: border-box;
  clear: both;
  cursor: pointer;
  display: block;
  float: left;
  font-family: inherit;
  font-size: 14px;
  font-weight: normal;
  height: 42px;
  line-height: 40px;
  outline: none;
  padding-left: 18px;
  padding-right: 30px;
  position: relative;
  text-align: left !important;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  white-space: nowrap;
  width: auto; }
  .nice-select:hover {
    border-color: #dbdbdb; }
  .nice-select:active, .nice-select.open, .nice-select:focus {
    border-color: #999; }
  .nice-select:after {
    border-bottom: 2px solid #999;
    border-right: 2px solid #999;
    content: '';
    display: block;
    height: 5px;
    margin-top: -4px;
    pointer-events: none;
    position: absolute;
    right: 12px;
    top: 50%;
    transform-origin: 66% 66%;
    transform: rotate(45deg);
    transition: all 0.15s ease-in-out;
    width: 5px; }
  .nice-select.open:after {
    transform: rotate(-135deg); }
  .nice-select.open .list {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1) translateY(0); }
  .nice-select.disabled {
    border-color: #ededed;
    color: #999;
    pointer-events: none; }
    .nice-select.disabled:after {
      border-color: #cccccc; }
  .nice-select.wide {
    width: 100%; }
    .nice-select.wide .list {
      left: 0 !important;
      right: 0 !important; }
  .nice-select.right {
    float: right; }
    .nice-select.right .list {
      left: auto;
      right: 0; }
  .nice-select.small {
    font-size: 12px;
    height: 36px;
    line-height: 34px; }
    .nice-select.small:after {
      height: 4px;
      width: 4px; }
    .nice-select.small .option {
      line-height: 34px;
      min-height: 34px; }
  .nice-select .list {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
    box-sizing: border-box;
    margin-top: 4px;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    pointer-events: none;
    position: absolute;
    top: 100%;
    left: 0;
    transform-origin: 50% 0;
    transform: scale(0.75) translateY(-21px);
    transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
    z-index: 9; }
    .nice-select .list:hover .option:not(:hover) {
      background-color: transparent !important; }
  .nice-select .option {
    cursor: pointer;
    font-weight: 400;
    line-height: 40px;
    list-style: none;
    min-height: 40px;
    outline: none;
    padding-left: 18px;
    padding-right: 29px;
    text-align: left;
    transition: all 0.2s; }
    .nice-select .option:hover, .nice-select .option.focus, .nice-select .option.selected.focus {
      background-color: #f6f6f6; }
    .nice-select .option.selected {
      font-weight: bold; }
    .nice-select .option.disabled {
      background-color: transparent;
      color: #999;
      cursor: default; }

.no-csspointerevents .nice-select .list {
  display: none; }

.no-csspointerevents .nice-select.open .list {
  display: block; }

body {
  min-width: 320px;
  background-color: #fff;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px; }

img {
  max-width: 100%; }

label {
  margin-bottom: 0; }

.hint {
  position: absolute;
  z-index: 100;
  background-color: #005FA3;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  line-height: 100%;
  padding: 1em 1em;
  border: 2px solid #ff5555;
  cursor: pointer; }

.popup-fade {
  display: none; }

.popup-fade:before {
  content: '';
  background: #005FA3;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  z-index: 9999; }

.popup {
  position: fixed;
  top: 20%;
  left: 50%;
  padding: 20px;
  width: 500px;
  height: 250px;
  margin-left: -200px;
  background: #fff;
  z-index: 99999;
  opacity: 1;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: center; }

.popup > p > span {
  font-weight: bold;
  font-size: 38px;
  line-height: 45px;
  color: #005FA3; }

.popup-close {
  position: absolute;
  top: 10px;
  right: 10px; }

@media only screen and (max-width: 768px) {
  .popup {
    width: 300px;
    height: 250px;
    margin-left: -150px;
    font-size: 18px;
    line-height: 20px; } }

.header {
  font-weight: bold; }
  .header .container {
    margin: 0 auto; }
  .header .header_top {
    border-bottom: 1px solid #005FA3;
    box-shadow: 0px 4px 4px rgba(13, 196, 255, 0.25); }
  .header .header_logo {
    padding-top: 17px;
    padding-bottom: 17px;
    z-index: 1; }
  .header .header_logo::after {
    content: "";
    position: absolute;
    width: 2000px;
    height: 100%;
    top: 0;
    right: 0;
    background-color: #fff;
    z-index: -1; }
  .header [class*="header_top_adress"],
  .header [class^="header_top_phone"] {
    position: relative;
    color: #ffffff; }
  .header [class*="header_top_adress"]:before,
  .header [class*="header_top_phone"]:before {
    font-family: FontAwesome;
    margin-right: 5px; }
  .header .header_top_adress_first:before {
    content: "\f3c5"; }
  .header .header_top_phone_first:before {
    content: "\f879"; }
  .header .phones {
    padding-right: 0;
    padding-left: 0; }
  .header .bg-blue {
    background-color: #005FA3;
    margin-bottom: 0; }
  .header .header_right {
    position: relative;
    background-color: #005FA3; }
  .header .btn .fas {
    margin-right: 5px; }
  .header .wrap_btn {
    position: relative; }
  .header .btn {
    background-color: #ffffff;
    border-radius: 0;
    border: 2px solid #fff;
    color: #005FA3;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0px;
    width: 95%;
    height: 68px;
    font-weight: bold;
    font-size: 20px;
    line-height: 52px;
    letter-spacing: 0.05em;
    position: absolute;
    top: 30%; }
  .header .btn:hover {
    background-color: #005FA3;
    color: #ffffff; }
  .header .header_bottom {
    border-bottom: 1px solid #005FA3;
    box-shadow: 0px 4px 4px rgba(13, 196, 255, 0.25); }
  .header .navbar {
    padding: 0;
    z-index: 100; }
  .header .navbar-nav li a {
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #005FA3;
    margin-left: 12.5px;
    margin-right: 12.5px; }
  .header .navbar-nav li::before {
    content: "";
    display: block;
    background-color: rgba(13, 196, 255, 0);
    width: 100%;
    transform: scaleX(0);
    transition: all .3s;
    height: 6px; }
  .header .navbar-nav li:hover::before {
    content: "";
    background-color: #0dc4ff;
    transform: scaleX(1); }

@media only screen and (max-width: 1200px) {
  .header .header_top img {
    max-height: 110px; }
  .header .header_top .row > div {
    font-size: 14px; }
  .header .navbar-nav li a {
    font-size: 16px;
    margin-left: 8.75px;
    margin-right: 8.75px; }
  .header .btn {
    margin-left: 0px;
    width: 95%;
    height: 50px;
    font-weight: bold;
    font-size: 15px;
    line-height: 34px;
    letter-spacing: 0.05em; } }

@media only screen and (max-width: 992px) {
  .header .navbar-nav li a {
    font-size: 13px;
    margin-left: 1.25px;
    margin-right: 1.25px; } }

@media only screen and (max-width: 768px) {
  .header .bg-blue {
    background-color: #fff; }
  .header .header_top {
    height: 40px;
    border-bottom: none;
    box-shadow: none; }
  .header .header_top img {
    width: 80px;
    left: 50%; }
  .header .header_logo::after {
    height: 0; }
  .header .btn {
    margin-top: -15px; }
  .header .btn .fas {
    margin-right: 5px; }
  .header .navbar-toggler {
    margin-top: -25px;
    margin-bottom: 15px; }
  .header .navbar {
    width: 85%; }
  .header .navbar-nav {
    background-color: #005FA3;
    opacity: .8; }
  .header .navbar-nav .nav-link {
    padding-left: 15px;
    color: #ffffff; }
  .header .navbar-toggler-icont {
    color: #005FA3; }
  .header .navbar-nav li::after {
    content: "";
    display: block;
    background-color: rgba(13, 196, 255, 0);
    width: 100%;
    height: 6px;
    transform: scaleX(0);
    transition: all .3s; }
  .header .navbar-nav li:hover::after {
    content: "";
    background-color: #0dc4ff;
    transform: scaleX(1); } }

@media only screen and (max-width: 576px) {
  .header .header_top,
  .header .header_bottom {
    box-shadow: none; } }

.content {
  position: relative;
  min-width: 320px;
  margin-top: 50px;
  height: auto; }
  .content .calc_left {
    background-color: #005FA3;
    padding: 30px 6%;
    color: #ffffff;
    height: 100%; }
    .content .calc_left h2 {
      font-weight: bold;
      font-size: 36px;
      line-height: 59px;
      text-transform: uppercase;
      margin-bottom: 0; }
    .content .calc_left label {
      font-weight: normal;
      font-size: 18px;
      line-height: 30px;
      letter-spacing: 0.05em;
      margin-bottom: 0;
      padding-left: 10px;
      display: block; }
    .content .calc_left input:last-child {
      margin-top: 20px; }
    .content .calc_left #form {
      display: table; }
    .content .calc_left #form .nice-select,
    .content .calc_left #form input {
      color: #005FA3;
      height: 40px;
      font-size: 18px; }
    .content .calc_left #form .nice-select,
    .content .calc_left #form input,
    .content .calc_left #form label {
      width: 100%;
      padding-left: 10px; }
    .content .calc_left #form .nice-select {
      border-radius: 0; }
    .content .calc_left #form .nice-select .list {
      width: 100%; }
    .content .calc_left .calc_price {
      font-weight: bold;
      font-size: 36px;
      line-height: 59px;
      letter-spacing: 0.05em; }
      .content .calc_left .calc_price span {
        border-bottom: 3px solid rgba(255, 255, 255, 0.3); }
    .content .calc_left #form .wrap_datepicker {
      position: relative; }
      .content .calc_left #form .wrap_datepicker #datepicker {
        cursor: pointer; }
      .content .calc_left #form .wrap_datepicker .fas {
        color: #005FA3;
        position: absolute;
        top: 10px;
        right: 5px; }
    .content .calc_left #form #telephone {
      cursor: pointer; }
    .content .calc_left #form input.personal_data {
      height: 10px;
      width: 10px;
      margin-top: 25px;
      float: left;
      padding-left: 0;
      cursor: pointer; }
    .content .calc_left #form label.personal_data {
      font-size: 13px;
      letter-spacing: normal;
      float: left;
      display: inline;
      width: 95%;
      padding-left: 10px;
      line-height: 18px;
      margin-left: 0px;
      margin-top: 23px;
      cursor: pointer; }
    .content .calc_left #submit {
      background-color: #ffffff;
      height: 50px;
      font-weight: bold;
      font-size: 25px;
      line-height: 41px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      border: 2px solid #fff;
      transition: all .3s;
      margin-top: 20px; }
    .content .calc_left #submit:hover {
      background-color: #005FA3;
      color: #ffffff; }
  .content .calc_right {
    padding: 30px;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.05em; }
    .content .calc_right h2 {
      font-weight: bold;
      font-size: 35px;
      line-height: 59px;
      letter-spacing: 0.05em;
      color: #005FA3;
      margin-bottom: 30px; }
    .content .calc_right h3 {
      font-weight: bold;
      font-size: 18px;
      line-height: 30px;
      letter-spacing: 0.05em;
      text-transform: uppercase; }
    .content .calc_right .col-lg-5 #group1 {
      margin-bottom: 30px; }
    .content .calc_right .item_calc {
      margin-bottom: 10px; }
  .content > .container {
    border: 1px solid #005FA3;
    box-shadow: -4px -4px 40px rgba(0, 95, 163, 0.25), 4px 4px 40px rgba(0, 95, 163, 0.25);
    margin-bottom: 50px; }
  .content .label_calc {
    width: 60%;
    margin-bottom: 0; }
  .content [id*="group"] .item_calc {
    display: flex; }
    .content [id*="group"] .item_calc label.factura {
      text-align: right; }
  .content .input_calc {
    text-align: center;
    vertical-align: middle;
    width: 64px;
    height: 36px;
    border: 1px solid #005FA3;
    margin-left: 20px;
    margin-right: 10px;
    cursor: pointer; }
  .content .input_radio {
    display: none; }
  .content label.factura {
    width: 100%;
    margin-right: 20%;
    cursor: pointer; }
  .content .input_radio + label.factura::after {
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid #005FA3;
    margin: 0 10px 0 0; }
  .content .input_radio:checked + label.factura::after {
    content: "";
    background: url("../img/check.png") no-repeat;
    background-size: auto;
    background-position: center;
    background-origin: content-box; }

@media only screen and (max-width: 1200px) {
  .content .calc_left h2,
  .content .calc_right h2 {
    font-size: 28px;
    letter-spacing: 0em; }
  .content .calc_left h3,
  .content .calc_right h3,
  .content .label_calc,
  .content .item_calc {
    font-size: 15px; }
  .content .calc_left #submit {
    font-size: 20px; }
  .content .input_calc {
    margin-left: 10px;
    margin-right: 5px; } }

@media only screen and (max-width: 992px) {
  .content .calc_right .row > div {
    padding-left: 20%; }
  .content .calc_left h2,
  .content .calc_right h2 {
    font-size: 24px;
    letter-spacing: 0em;
    line-height: 29px; }
  .content label.factura {
    margin-right: 25%; } }

@media only screen and (max-width: 767px) {
  .content {
    left: 0;
    max-width: 767px; }
    .content label.factura {
      margin-right: 20%; } }

@media only screen and (max-width: 576px) {
  .content {
    margin-top: 0; }
    .content > .container {
      box-shadow: none; }
    .content .calc_left #submit,
    .content .calc_left input {
      font-size: 100%; }
    .content .item_calc .label_calc,
    .content .item_calc .input_calc {
      display: block;
      margin: 5px auto;
      padding: 0; }
    .content .item_calc.span {
      margin-top: 10px; }
      .content .item_calc.span span {
        font-weight: bold; }
    .content [id*="group"] .item_calc {
      display: block; }
      .content [id*="group"] .item_calc label.factura {
        text-align: center; }
    .content .calc_right h3 {
      margin-top: 20px;
      margin-bottom: 0; }
    .content .calc_right .row > div {
      padding-left: 0; } }

.auth {
  background-color: #003459; }
  .auth .popup {
    max-width: 450px;
    height: 480px;
    top: 50%;
    margin-top: -240px;
    margin-left: -225px; }
    .auth .popup h1 {
      font-size: 38px;
      line-height: 45px;
      color: #005FA3; }
    .auth .popup p {
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 23px; }
    .auth .popup form label,
    .auth .popup form input {
      display: block;
      margin-left: 5%; }
    .auth .popup form label {
      margin-top: 30px;
      text-align: left;
      font-weight: normal;
      font-size: 22px;
      line-height: 36px;
      letter-spacing: 0.05em; }
    .auth .popup form input {
      width: 370px;
      height: 50px;
      background: #FFFFFF;
      border: 2px solid #005FA3;
      font-weight: normal;
      font-size: 20px;
      line-height: 23px;
      color: #005FA3;
      padding-left: 15px; }
    .auth .popup form [id*="submit_auth"] {
      margin-top: 40px;
      font-weight: bold;
      font-size: 25px;
      line-height: 41px;
      letter-spacing: 0.05em;
      color: #005FA3;
      text-transform: uppercase; }

@media only screen and (max-width: 768px) {
  .auth {
    height: 480px; }
    .auth .popup {
      height: 350px; }
      .auth .popup h1 {
        font-size: 30px;
        line-height: 33px; }
      .auth .popup p {
        font-size: 16px;
        line-height: 19px; }
      .auth .popup form label {
        font-size: 18px;
        line-height: 21px;
        margin-top: 10px; }
      .auth .popup form input {
        width: 90%;
        font-size: 16px;
        line-height: 19px; }
      .auth .popup form [id="submit_auth"] {
        font-size: 20px;
        line-height: 24px;
        margin-top: 20px; } }

h1 {
  color: #005FA3; }

h2 {
  font-weight: bold;
  font-size: 26px;
  line-height: 43px;
  letter-spacing: 0.05em;
  margin-top: 50px; }

.fa-times {
  color: #ea0000; }

.tab_header,
.tab_row {
  margin-left: 0; }

.tab_header .tab {
  min-height: 40px;
  background-color: #9DD6FF;
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
  border: 1px solid #555555; }

.tab_header .tab:before {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  content: ""; }

.tab_row .tab {
  min-height: 40px;
  border: 1px solid #555555; }

.tab_row .tab:before {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  content: ""; }

.tab_row .tab.list::before {
  display: none;
  content: none; }

.tab_row .fas {
  font-size: 24px; }

.tab_row_2 .tab {
  background-color: #e1f8ff; }

.users .tab_row .tab {
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 0.05em;
  border-top: 0px; }

.users .tab_row .col-2 {
  padding-top: 4px; }
  .users .tab_row .col-2 .fa-edit {
    color: #039f00;
    padding-right: 2px; }
  .users .tab_row .col-2 .fa-times {
    padding-left: 4px; }

.new_user_form label,
.new_user_form input {
  display: block;
  width: 100%; }

.new_user_form label {
  font-size: 22px;
  line-height: 36px;
  letter-spacing: 0.05em;
  margin-top: 40px; }

.new_user_form input {
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: #005FA3;
  height: 50px;
  padding-left: 15px;
  border: 2px solid #005FA3; }

.new_user_form input[type*=button] {
  font-weight: bold;
  font-size: 25px;
  line-height: 41px;
  text-align: center;
  letter-spacing: 0.05em;
  margin-top: 50px;
  background-color: #fff;
  transition: all .3s; }

.new_user_form input[type*=button]:hover {
  color: #fff;
  background-color: #005FA3; }

.calculator_setting ul {
  padding-left: 0;
  margin-top: 15px; }

.calculator_setting li {
  list-style: none;
  font-size: 22px;
  line-height: 26px;
  color: #005FA3; }

.calculator_setting .fa-times {
  padding-left: 15px; }

.calculator_setting .fa-plus {
  color: #039f00; }

.calculator_setting .add_new_color {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: #005FA3;
  margin-top: 15px; }

.orders .row {
  height: 100%; }

.orders div.order-3 .row {
  height: 100%; }

.orders ul {
  padding-left: 10px; }

.orders li {
  list-style: none; }

@media only screen and (max-width: 1200px) {
  .new_user_form label {
    font-size: 18px; }
  .new_user_form input[type*=button] {
    font-size: 20px; } }

@media only screen and (max-width: 992px) {
  h1 {
    font-size: 30px; }
  h2 {
    font-size: 22px;
    line-height: 24px; } }

@media only screen and (max-width: 767px) {
  h1 {
    font-size: 28px; }
  h2 {
    font-size: 18px; }
  .tab_header .tab {
    font-size: 14px; } }

@media only screen and (max-width: 576px) {
  .tab_header .tab {
    font-size: 12px;
    padding-left: 0;
    padding-right: 0;
    text-align: center; }
  .tab_header > div:last-child {
    letter-spacing: -.1em; }
  .users .tab_row .tab {
    padding-left: 0;
    padding-right: 0;
    text-align: center; }
    .users .tab_row .tab .fas {
      font-size: 16px; }
    .users .tab_row .tab .fa-edit {
      padding-right: 10px; }
    .users .tab_row .tab .fa-times {
      padding-left: 10px; } }

.footer {
  padding-top: 20px;
  background-color: #005FA3;
  color: #ffffff; }
  .footer .wrap_header {
    width: 100%; }
    .footer .wrap_header .navbar-toggler {
      padding: 0; }
    .footer .wrap_header .navbar-toggler-icon {
      color: #ffffff; }
    .footer .wrap_header .nav-link {
      padding: .5rem .5rem;
      display: inline-flex; }
  .footer .navbar {
    align-items: flex-start;
    padding: 0.5rem 0rem; }
  .footer .navbar-expand-lg {
    flex-flow: wrap; }
    .footer .navbar-expand-lg .navbar-collapse {
      align-items: flex-start; }
  .footer .nav-link.header {
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px; }
  .footer .nav .nav-link {
    color: #ffffff;
    font-weight: normal;
    font-size: 14px;
    line-height: 25px; }
  .footer .nav {
    width: 100%; }
    .footer .nav li {
      width: 100%; }
  .footer .nav-link {
    transition: all .3s; }
  .footer .nav-link:hover {
    transform: scale(1.1); }
  .footer .row > div {
    padding: 0; }
  .footer .wrapUkon {
    margin-top: 30px;
    margin-bottom: 30px; }
  .footer .ukon {
    font-weight: bold;
    font-size: 40px;
    line-height: 25px;
    text-transform: uppercase;
    font-style: italic; }
    .footer .ukon span {
      font-size: 20px;
      font-style: normal; }
  .footer .siluet {
    margin-left: 20px;
    margin-bottom: 5px; }
  .footer .adress p {
    font-weight: bold;
    font-size: 18px;
    line-height: 20px; }
  .footer .adress > p:first-child {
    margin-bottom: 5px; }
  .footer .adress > p:last-child {
    margin-bottom: 30px; }
  .footer .line {
    border-top: 2px solid #FFFFFF; }
  .footer .footer_line {
    height: 65px; }
    .footer .footer_line div:first-child {
      font-weight: bold;
      font-size: 15px;
      line-height: 18px;
      padding-right: 0; }
    .footer .footer_line div:last-child {
      padding-left: 0; }
    .footer .footer_line div:last-child a {
      color: #ffffff;
      font-weight: normal;
      font-size: 12px;
      line-height: 14px;
      text-align: right;
      -webkit-text-decoration-line: underline;
              text-decoration-line: underline; }

@media only screen and (max-width: 992px) {
  .footer a.nav-link.header {
    font-size: 14px; }
  .footer .adress {
    margin-top: 70px; } }

@media only screen and (max-width: 767px) {
  .footer .navbar {
    padding: 0.5rem 1.5rem; }
    .footer .navbar ul {
      margin-left: 1rem; }
  .footer .adress,
  .footer .wrapUkon {
    margin: 10px auto; } }
