.header {
    font-weight: bold;
    .container {
        margin: 0 auto;
    }
    .header_top {
        border-bottom: 1px solid $main_color;
        box-shadow: 0px 4px 4px rgba(13, 196, 255, 0.25);
    }
    .header_logo {
        padding-top: $padding_header;
        padding-bottom: $padding_header;
        z-index: 1;
    }
    .header_logo::after {
        content: "";
        position: absolute;
        width: 2000px;
        height: 100%;
        top: 0;
        right: 0;
        background-color: #fff;
        z-index: -1;
    }
    [class*="header_top_adress"],
    [class^="header_top_phone"] {
        position: relative;
        color: #ffffff;
    }
    [class*="header_top_adress"]:before,
    [class*="header_top_phone"]:before {
        font-family: FontAwesome;
        margin-right: 5px;
    }
    .header_top_adress_first:before {
        content: "\f3c5";
    }
    .header_top_phone_first:before {
        content: "\f879";
    }
    .phones {
        padding-right: 0;
        padding-left: 0;
    }
    .bg-blue {
        background-color: $main_color;
        margin-bottom: 0;
    }
    .header_right {
        position: relative;
        background-color: $main_color;
    }
    .btn .fas {
        margin-right: 5px;
    }
    .wrap_btn {
        position: relative;
    }
    .btn {
        background-color: #ffffff;
        border-radius: 0;
        border: 2px solid #fff;
        color: $main_color;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 0px;
        width: 95%;
        height: 68px;
        font-weight: bold;
        font-size: 20px;
        line-height: 52px;
        letter-spacing: 0.05em;
        position: absolute;
        top: 30%;
    }
    .btn:hover {
        background-color: $main_color;
        color: #ffffff;
    }
    .header_bottom {
        border-bottom: 1px solid $main_color;
        box-shadow: 0px 4px 4px rgba(13, 196, 255, 0.25);
    }
    .navbar {
        padding: 0;
        z-index: 100;
    }
    .navbar-nav li a {
        text-transform: uppercase;
        letter-spacing: 0.05em;
        color: $main_color;
        margin-left: $ml_nav_item/2;
        margin-right: $ml_nav_item/2;
    }
    .navbar-nav li::before {
        content: "";
        display: block;
        background-color: rgba(13, 196, 255, 0);
        width: 100%;
        transform: scaleX(0);
        transition: all .3s;
        height: 6px;
    }
    .navbar-nav li:hover::before {
        content: "";
        background-color: rgba(13, 196, 255, 1);
        transform: scaleX(1);
    }
}

@media only screen and (max-width: 1200px) {
    .header {
        .header_top img {
            max-height: 110px;
        }
        .header_top .row>div {
            font-size: 14px;
        }
        .navbar-nav li a {
            font-size: 16px;
            margin-left: $ml_nav_item * .35;
            margin-right: $ml_nav_item * .35;
        }
        .btn {
            margin-left: 0px;
            width: 95%;
            height: 50px;
            font-weight: bold;
            font-size: 15px;
            line-height: 34px;
            letter-spacing: 0.05em;
        }
    }
}

@media only screen and (max-width: 992px) {
    .header {
        .navbar-nav li a {
            font-size: 13px;
            margin-left: $ml_nav_item * .05;
            margin-right: $ml_nav_item * .05;
        }
    }
}

@media only screen and (max-width: 767px) {
    .header {
        .bg-blue {
            background-color: #fff;
        }
        .header_top {
            height: 40px;
            border-bottom: none;
            box-shadow: none;
        }
        .header_top img {
            width: 80px;
            // position: -ms-page;
            left: 50%;
        }
        .header_logo::after {
            height: 0;
        }
        .btn {
            margin-top: -15px;
        }
        .btn .fas {
            margin-right: 5px;
        }
        .navbar-toggler {
            margin-top: -25px;
            margin-bottom: 15px;
        }
        .navbar {
            width: 85%;
        }
        .navbar-nav {
            background-color: $main_color;
            opacity: .8;
        }
        .navbar-nav .nav-link {
            padding-left: 15px;
            color: #ffffff;
        }
        .navbar-toggler-icont {
            color: $main_color;
        }
        .navbar-nav li::after {
            content: "";
            display: block;
            background-color: rgba(13, 196, 255, 0);
            width: 100%;
            height: 6px;
            transform: scaleX(0);
            transition: all .3s;
        }
        .navbar-nav li:hover::after {
            content: "";
            background-color: rgba(13, 196, 255, 1);
            transform: scaleX(1);
        }
    }
}

@media only screen and (max-width: 576px) {
    .header {
        .header_top,
        .header_bottom {
            box-shadow: none;
        }
    }
}